/* ===============================
   BASE STYLES / RESET
   =============================== */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    min-height: 100vh;
    background-color: #1a1a1a;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===============================
   FLEXBOX COMMON STYLES
   =============================== */
/* Common flex container setup */
.profile,
.profile__header,
.profile__main,
.profile__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.profile__header,
.profile__main,
.profile__footer {
    justify-content: center;
}

/* ===============================
   PROFILE CONTAINER
   =============================== */
.profile{
    width: 80vw;
    margin: 2em;
    padding: 2em;
    background-color: #1f211f;
    border-radius: 1em;
}

/* ===============================
   TYPOGRAPHY
   =============================== */
.profile__title,
.profile__card-title {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Title underline */
.profile__title::after,
.profile__card-title::after {
    content: "";
    display: block;
    height: 2px;
    background: #6a0303;
}

/* Specific widths for underlines */
.profile__title::after {
    width: 50%;
    margin: 5px auto 0;
}

.profile__card-title::after {
    width: 40%;
    margin: 5px 0 0 10px;
}

/* ===============================
   HEADER
   =============================== */
.profile__header {
    align-items: center;
}

.profile__header-info {
    text-align: center;
}

.profile__header-info h1 {
    margin-top: 0;
}

.profile__avatar{
    flex-basis: 30%;
    max-width: 100px;
    max-height: 100px;
}

.profile__avatar-img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.profile__meta{
    font-size: 0.8rem;
    text-align: right;
}


/* ===============================
   PROFILE CARD
   =============================== */
.profile__card {
    flex-basis: 100%;
    background-color: #1a1a1a;
    padding: 1.5em;
    border-radius: 2%;
}

/* ===============================
   TAGS
   =============================== */
.profile__tags {
    display: flex;
    align-items: center;
    gap: 1em;

    color: #a1a0a0;
    font-style: italic;
}

.profile__tag {
    padding: 1em;
    background-color: #1f211f;
    border-radius: 3%;
}

/* ===============================
   FOOTER
   =============================== */
.profile__motto {
    font-style: italic;
}
